.register {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.register:after {
  content: "➜";
  position: absolute;
  opacity: 0;
  top: 16px;
  right: 230px;
  transition: 0.7s;
}

.register:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.register:hover:after {
  opacity: 1;
  /* left: 0; */
}

/* For login button */
.login {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login:after {
  content: "➜";
  position: absolute;
  opacity: 0;
  top: 16px;
  left: 160px;
  transition: 0.7s;
}

.login:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.login:hover:after {
  opacity: 1;
  /* left: 0; */
}
